__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.idea/
.vscode/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
*.db
*.sqlite3
*.env
.env
uploads/
dist/
build/
node_modules/
*.joblib
*.pkl
!model.pkl
!scaler.pkl
!label_encoder.pkl
*.egg-info/
coverage.xml
htmlcov/
instance/
